* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  html {
    /* font-size: 10px; */
    /* 10px / 16px = 0.625 = 62.5% */
    /* Percentage of user's browser font-size setting */
    font-size: 62.5%;
  }
  
  body {
    font-family: "Rubik", sans-serif;
    line-height: 1;
    font-weight: 400;
    color: #555;
    overflow-x: hidden;
    background-color: lightblue;
  }
/* *************************** */

.global-container {
  /* display: flex; */
  /* justify-content: center; */

}
/* *************************** */

.landing-page-wrapper {
  width: 39rem;
  height: 84.4rem;
}

.title-wrapper {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1rem;
  font-family: 'Acme', sans-serif;
  letter-spacing: .1rem;
  margin-top: 6rem;
  /* display: flex; */
}

.title-text {
  font-size: 3rem;
  text-align: center;
}

.text-style {
  font-size: 2rem;
}

.style {
  font-size: 2.5rem;  
  text-align: center;
  margin: 2rem 2rem 0 2rem;
}

/* *************************** */

.ulmenu {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10rem;
  line-height: 6rem;
  font-size: 2rem;
  text-transform: uppercase;
}

/* *************************** */

.megapacks-wrapper {
  height: 84.4rem;
}

/* *************************** */

.familypacks-wrapper {
  height: 84.4rem;
}

/* *************************** */

.everythingelse-wrapper {
  height: 84.4rem;
}
